@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Ubuntu:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: var(--font);
}


:root {
  --font : #314C61 ;
  --bleu : #B0DFD9 ;
  --orange : #FB6A35 ;
  --jaune : #FEDD67 ;
  --br : 4px;
}

.ecologica-menu {
  background-color: #293946;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  height: 70px;
  img {
    height: 40px;
    width: auto;
  }
  ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .logo-menu {
    display: flex;
    align-items: center;
    gap: 0 2em;
  }
}

.candidater a {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border-radius: 4px;
  padding: 1em;
}

.transition_ecole {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  align-items: center;

  .t1 {
    h2 {
      font-size: 72px;
      font-weight: lighter;
    }

    .orange {
      color: #FB6A35;
      font-weight: bolder;
    }
  }

  .t2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 2em;

    h3 {
      font-size: 26px;
    }

    div {
      background-color: #FB6A35;
      border: #FB6A35 solid;
      border-radius: 100%;
      height: 13px;
      width: 13px;
    }
  }

  .t3 {
    margin-top: 3em;

    .button_ecole1 {
      color: white;
      text-decoration: none;
      background-color: #FB6A35;
      border: #FB6A35 solid 1px;
      border-radius: 4px;
      padding: 10px 15px;
      font-size: 24px;
      margin-right: 1em;
    }

    .button_ecole2 {
      text-decoration: none;
      border: #FB6A35 solid 1px;
      border-radius: 4px;
      padding: 10px 15px;
      color: #FB6A35;
      background-color: white;
      font-size: 24px;
    }
  }

  .transition_picture {
    position: relative;
    button {
      color: white;
      text-decoration: none;
      background-color: #FB6A35;
      border: #FB6A35 solid 1px;
      border-radius: 4px;
      padding: 10px 30px;
      font-size: 20px;
      position: absolute;
      top: 90px;
      left: -80px;
    }

    .img_background {
      background-color: white;
    }

    .webinaire {
      border: #314C61 solid 1px;
      font-size: 20px;
      background-color: white;
      padding: 15px;
      position: absolute;
      top: -50px;
      left: -50px;
    }

    .background_absolute {
      background-color: #D4EDEA;
      height: 309px;
      width: 280px;
      position: absolute;
      top: 200px;
      left: 200px;
      z-index: -1;
    }
  }

}

footer {
  background-color: #293946;
  color: #f1f1f1;

  .FS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3em;
  }

  .FS1 {
    .FDP {
      max-width: 15em;
      color: #f1f1f1b6;
    }

    .CF {
      h3 {
        color: #f1f1f1b6;
        padding-bottom: 0.5em;
      }

      ul {
        li {
          list-style: none;
          padding-bottom: 0.5em;

          a {
            text-decoration: none;
            color: #f1f1f1;
          }
        }
      }
    }

    .CF3 {
      h3 {
        padding-bottom: 0.5em;
        color: #f1f1f1;
      }
      p{
        color: #f1f1f1;
      }
    }
  }

  .FS2 {
    list-style: none;
    padding-bottom: 10px;
    p{
        color: #f1f1f1;
    }
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 3em;

        li {
        a {
            ion-icon {
            fill: #f1f1f1;
            width: 30px;
            height: 30px;
            }
        }
        }
    }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -1;
  }

  img:nth-child(1) {
    bottom: 35vh;
    right: -7vh;
    width: 40vh;
    transform: scaleX(-1);
  }

  img:nth-child(2) {
    bottom: 20vh;
    left: -7vh;
    width: 35vh;
  }

  img:nth-child(3) {
    bottom: -2vh;
    left: 3vh;
    width: 30vh;
  }

  img:nth-child(4) {
    bottom: -2vh;
    right: 0vh;
    width: 20vh;
  }

  img:nth-child(5) {
    bottom: -9vh;
    left: 20vh;
    width: 20vh;
  }
}

.bottom {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: space-around;
  margin: auto;
  align-items: center;

  .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 22%;

    button {
      background-color: #D4EDEA;
      border:  none;
      padding: 1em 1.5em;
      border-radius: var(--br);
    }

    h2 {
      font-size: 30px;
      width: 70%;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: solid 2px var(--font);
      width: 30%;
      height: 25vh;
      border-radius: var(--br);
      padding: 20px 0 ;
      background-color: white;

      .titre {
        position: relative;
        width: 100%;
        font-family: 'Raleway', sans-serif;

        h3 {
          font-size: 32px;
          font-weight: 300;
        }

        svg {
          position: absolute;
          right: 25px;
          top: 15px;
        }
      }

      button {
        border-radius: var(--br);
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.25em 1em;
        border: none;
        background-color: var(--bleu);
      }
    }

    .card:nth-child(2) {
      button {
        background-color: var(--jaune);
      }
    }

    .card:nth-child(3) {
      button {
        background-color: var(--orange);
      }
    }
  }
}
}

.card_ecologica {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 3em;
    padding: 0 24em;
    margin-bottom: 6em;
    
    .card_formations {
        border: #314C61 solid;
        border-radius: 10px;
        padding: 3em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8em;

        .div_card {

            .img_bachelor {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
            }
        }
    }
    
    .vector {
        width: 80px;
        height: 80px;
    }

    img {
        width: 24px;
        height: 22px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }
    
    .button_orange {
        color: #314C61;
        text-decoration: none;
        background-color: #FB6A35;
        border: #314C61 solid 2px;
        border-radius: 6px;
        padding: 14px 34px;
        font-size: 20px;
    }

    .button_green {
        color: #314C61;
        text-decoration: none;
        background-color: #B0DFD9;
        border: #314C61 solid 2px;
        border-radius: 6px;
        padding: 14px 34px;
        font-size: 20px;
    }

    .button_yellow {
        color: #314C61;
        text-decoration: none;
        background-color: #FEDD67;
        border: #314C61 solid 2px;
        border-radius: 6px;
        padding: 14px 34px;
        font-size: 20px;
    }
}

.partenaire {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin-bottom: 4em;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -1;
  }

  img:nth-child(1) {
    bottom: 35vh;
    right: -7vh;
    width: 40vh;
    transform: scaleX(-1);
  }

  img:nth-child(2) {
    bottom: 20vh;
    left: -7vh;
    width: 35vh;
  }

  img:nth-child(3) {
    bottom: -2vh;
    left: 3vh;
    width: 30vh;
  }

  img:nth-child(4) {
    bottom: -2vh;
    right: 0vh;
    width: 20vh;
  }

  img:nth-child(5) {
    bottom: -9vh;
    left: 20vh;
    width: 20vh;
  }
}

.bottom {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: space-around;
  margin: auto;
  align-items: center;

  .titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 22%;

    button {
      background-color: #D4EDEA;
      border:  none;
      padding: 1em 1.5em;
      border-radius: var(--br);
    }

    h2 {
      font-size: 30px;
      width: 70%;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: solid 2px var(--font);
      width: 30%;
      height: 25vh;
      border-radius: var(--br);
      padding: 20px 0 ;
      background-color: white;

      .titre {
        position: relative;
        width: 100%;
        font-family: 'Raleway', sans-serif;

        h3 {
          font-size: 32px;
          font-weight: 300;
        }

        svg {
          position: absolute;
          right: 25px;
          top: 15px;
        }
      }

      button {
        border-radius: var(--br);
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.25em 1em;
        border: none;
        background-color: var(--bleu);
      }
    }

    .card:nth-child(2) {
      button {
        background-color: var(--jaune);
      }
    }

    .card:nth-child(3) {
      button {
        background-color: var(--orange);
      }
    }
  }
}