@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Ubuntu:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: var(--font);
}

main {
  overflow: hidden;
}

:root {
  --font: #314C61 ;
  --bleu: #B0DFD9 ;
  --orange: #FB6A35 ;
  --jaune: #FEDD67 ;
  --br: 4px;
}

.ecologica-menu {
  background-color: #293946;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  height: 70px;
}
.ecologica-menu img {
  height: 30px;
  width: auto;
}
.ecologica-menu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2em;
}
.ecologica-menu ul a {
  color: white;
  text-decoration: none;
}
.ecologica-menu .logo-menu {
  display: flex;
  align-items: center;
  gap: 0 2em;
}

.candidater a {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border-radius: 4px;
  padding: 1em;
}

.transition_ecole {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  align-items: center;
}
.transition_ecole .t1 h2 {
  font-size: 72px;
  font-weight: lighter;
}
.transition_ecole .t1 .orange {
  color: #FB6A35;
  font-weight: bolder;
}
.transition_ecole .t2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.transition_ecole .t2 h3 {
  font-size: 26px;
}
.transition_ecole .t2 div {
  background-color: #FB6A35;
  border: #FB6A35 solid;
  border-radius: 100%;
  height: 13px;
  width: 13px;
}
.transition_ecole .t3 {
  margin-top: 3em;
}
.transition_ecole .t3 .button_ecole1 {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 24px;
  margin-right: 1em;
  border: none;
}
.transition_ecole .t3 .button_ecole2 {
  text-decoration: none;
  border: #FB6A35 solid 2px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #FB6A35;
  background-color: white;
  font-size: 24px;
}
.transition_ecole .transition_picture {
  position: relative;
}
.transition_ecole .transition_picture button {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  top: 90px;
  left: -80px;
}
.transition_ecole .transition_picture .img_background {
  background-color: white;
}
.transition_ecole .transition_picture .webinaire {
  border: #314C61 solid 2px;
  font-size: 20px;
  background-color: white;
  padding: 15px;
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: var(--br);
  width: 80%;
}
.transition_ecole .transition_picture .background_absolute {
  background-color: #D4EDEA;
  height: 60%;
  width: 60%;
  position: absolute;
  bottom: -6vh;
  right: -6vh;
  z-index: -1;
}

.formations {
  display: flex;
  flex-direction: column;
  height: 290vh;
  justify-content: space-between;
  position: relative;
  padding-top: 15vh;
}
.formations .fond {
  background-color: #B0DFD9;
  opacity: 30%;
  width: 110%;
  height: 90vh;
  position: absolute;
  transform: rotate(-5deg);
  left: -5%;
  z-index: -2;
  top: 5%;
}
.formations .fond2 {
  background-color: #B0DFD9;
  opacity: 30%;
  width: 110%;
  height: 90vh;
  position: absolute;
  transform: rotate(-5deg);
  left: -5%;
  z-index: -2;
  bottom: 0;
}
.formations section {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  height: 60vh;
}
.formations section .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formations section .left h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--orange);
}
.formations section .left .txt {
  color: var(--font);
  font-size: 16px;
  width: 90%;
  line-height: 1.5;
}
.formations section .left button {
  width: 30%;
  color: var(--font);
  background-color: var(--bleu);
  border-radius: var(--br);
  border: none;
  padding: 0.5em 1em;
  font-size: 15px;
}
.formations section .illus {
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.formations section .illus img {
  width: 68%;
  height: auto;
  z-index: 1;
  bottom: 0;
  background-color: white;
  border-radius: var(--br);
  border: 2px solid var(--font);
  margin: auto;
  position: relative;
  transform: scaleX(1);
}
.formations section .illus .bg {
  position: absolute;
  width: 50vh;
  height: 25vh;
  background-color: var(--bleu);
  border-radius: var(--br);
  opacity: 55%;
  z-index: -1;
  bottom: 0;
  right: 25vh;
}
.formations section:nth-child(3) button {
  background-color: var(--jaune);
}
.formations section:nth-child(3) .illus .bg {
  background-color: var(--jaune);
  right: 0;
  bottom: -5vh;
}
.formations section:nth-child(3) .illus img {
  left: 0;
  width: 60%;
}
.formations section:nth-child(2) button {
  background-color: var(--orange);
}
.formations section:nth-child(2) .illus .bg {
  background-color: var(--orange);
  bottom: -8vh;
  right: -2vh;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #293946;
  padding: 10vh 0;
}
footer .content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}
footer section:nth-child(1) {
  width: 85%;
  margin: 0;
}
footer section {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
footer section p {
  color: white;
}
footer section h4 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: 300;
  width: 24%;
  font-size: 16px;
  line-height: 25px;
}
footer section div {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}
footer section div h3 {
  color: white;
  opacity: 50%;
}
footer section div ul {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}
footer section div ul li {
  list-style: none;
}
footer section div ul li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
footer section div ul p {
  color: white;
  margin-bottom: 10px;
}
footer section div:nth-child(4) ul {
  justify-content: start;
}
footer section:nth-child(2) ul {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  margin-left: -32vh;
}
footer section:nth-child(2) ul li {
  list-style: none;
}
footer section:nth-child(2) ul li ion-icon {
  fill: white;
  width: 30px;
  height: 30px;
}

.button_ecologica {
  display: none;
}

.card_ecologica {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 8em;
  margin-bottom: 8em;
  justify-content: space-between;
}
.card_ecologica .card_formations {
  border: #314C61 solid;
  border-radius: 10px;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}
.card_ecologica .card_formations .div_card .img_bachelor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card_ecologica .vector {
  width: 80px;
  height: 80px;
}
.card_ecologica img {
  width: 24px;
  height: 22px;
}
.card_ecologica h2 {
  font-size: 36px;
}
.card_ecologica h3 {
  font-size: 20px;
}
.card_ecologica .button_orange {
  color: #314C61;
  text-decoration: none;
  background-color: #FB6A35;
  border: #314C61 solid 2px;
  border-radius: var(--br);
  padding: 0.5em 1em;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card_ecologica .button_green {
  color: #314C61;
  text-decoration: none;
  background-color: #B0DFD9;
  border: #314C61 solid 2px;
  border-radius: var(--br);
  padding: 0.5em 1em;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card_ecologica .button_yellow {
  color: #314C61;
  text-decoration: none;
  background-color: #FEDD67;
  border: #314C61 solid 2px;
  border-radius: var(--br);
  padding: 0.5em 1em;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.scroll {
  overflow-x: hidden;
}

.slider {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 9000px;
  overflow-x: hidden;
}
.slider img {
  padding: 3vh;
}

/*keyframe animations*/
.first {
  animation: bannermove 55s linear infinite;
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -7000px;
  }
}
.bottom {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
.bottom .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 22%;
}
.bottom .titre button {
  background-color: #D4EDEA;
  border: none;
  padding: 1em 1.5em;
  border-radius: var(--br);
}
.bottom .titre h2 {
  margin-top: 1.5em;
  font-size: 40px;
  width: 70%;
}
.bottom .cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding: 0 2em;
}
.bottom .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px var(--font);
  width: 30%;
  height: 25vh;
  border-radius: var(--br);
  padding: 20px 0;
  background-color: white;
}
.bottom .cards .card .titre {
  position: relative;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.bottom .cards .card .titre h3 {
  font-size: 32px;
  font-weight: 300;
}
.bottom .cards .card .titre svg {
  position: absolute;
  right: 25px;
  top: 15px;
}
.bottom .cards .card button {
  border-radius: var(--br);
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  border: none;
  background-color: var(--bleu);
}
.bottom .cards .card:nth-child(2) button {
  background-color: var(--jaune);
}
.bottom .cards .card:nth-child(3) button {
  background-color: var(--orange);
}

.centipede {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 6em;
  margin-bottom: 18em;
}
.centipede .chat {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 600px;
  justify-content: space-between;
  gap: 3em;
}
.centipede .chat h1 {
  font-size: 50px;
}
.centipede .chat p {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
}
.centipede .chat .button {
  align-self: left;
  display: flex;
  gap: 1em;
}
.centipede .chat .button div[class^=input] {
  border: 2px solid #293946;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  width: 180px;
  text-align: center;
  font-size: 20px;
}
.centipede .chat .button .input-1 {
  background: #B0DFD9;
}
.centipede .chien {
  position: relative;
}
.centipede .chien img {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 110%;
}
.centipede .chien .miroir {
  display: flex;
  width: 400px;
}
.centipede .chien .miroir .blanc {
  display: flex;
  flex-direction: column;
  border: 2px solid #293946;
  border-radius: 4px;
  background: white;
  width: 310px;
  margin: auto;
  height: 323px;
  position: absolute;
  top: 225px;
  left: -150px;
}
.centipede .chien .miroir .blanc h3 {
  border-bottom: 2px solid #293946;
  font-size: 20px;
}
.centipede .chien .miroir .blanc h3, .centipede .chien .miroir .blanc li {
  padding: 15px 20px 15px 20px;
}
.centipede .chien .miroir .blanc ul {
  list-style-position: inside;
}
.centipede .chien .miroir .blanc li {
  font-size: 14px;
}
.centipede .chien .miroir .p_miroir {
  text-decoration: none;
  background-color: #FB6A35;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  top: 475px;
  left: -250px;
}
.centipede .chien .miroir .p_miroir p {
  color: white;
}

.presentation_ecologica img {
  width: 100%;
}
.presentation_ecologica h2 {
  font-size: 36px;
  color: #FB6A35;
  text-align: center;
  margin-top: 1em;
}
.presentation_ecologica div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 8em;
}
.presentation_ecologica div h3 {
  font-size: 32px;
}
.presentation_ecologica div p {
  font-size: 20px;
  color: #000000;
  line-height: 2em;
  text-align: justify;
}

.societe-ecologica-relative {
  position: relative;
}
.societe-ecologica-relative .societe-ecologica div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: justify;
  padding: 4em 8em;
  line-height: 2em;
  margin-top: 10em;
}
.societe-ecologica-relative .societe-ecologica div p {
  font-size: 20px;
  color: #000000;
}
.societe-ecologica-relative .societe-ecologica div h2 {
  font-size: 32px;
  margin: 2em 0;
}
.societe-ecologica-relative div img {
  position: absolute;
  right: 0;
  bottom: -5%;
  width: 15%;
}

.plan-campus {
  position: relative;
  padding: 4em 8em 6em 8em;
}
.plan-campus h2 {
  margin-bottom: 2em;
}
.plan-campus .flex-map-campus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-campus h3 {
  font-size: 32px;
}
.plan-campus .contact-page {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-right: 14em;
  justify-content: center;
}
.plan-campus .background-blue {
  background-color: #B0DFD9;
  opacity: 30%;
  width: 110%;
  height: 55vh;
  position: absolute;
  transform: rotate(-5deg);
  left: -5%;
  z-index: -2;
  bottom: 5%;
}

.equipe {
  margin-top: 6em;
}
.equipe h2 {
  margin-left: 7em;
}
.equipe .flex-equipe {
  text-align: center;
  padding: 1em 6em 2em 6em;
}
.equipe .flex-equipe div {
  display: flex;
  padding: 2em;
  align-items: center;
}
.equipe .flex-equipe div img {
  width: 250px;
  border-radius: 1000px;
  height: 250px;
  object-fit: cover;
}
.equipe .flex-equipe div h3 {
  margin-top: 1em;
  font-size: 24px;
}
.equipe .flex-equipe div p {
  text-align: justify;
  padding: 1em 6em;
  font-size: 20px;
  line-height: 2em;
}
.equipe .flex-equipe div div {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.form .haut {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}
.form .haut img {
  width: 50%;
}
.form .haut .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}
.form .haut .txt .p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5vh;
  margin-bottom: 2%;
}
.form .haut .txt h2 {
  font-size: 30px;
  font-weight: 300;
}
.form .haut .txt p {
  font-size: 14px;
  font-weight: 300;
}
.form .haut .cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}
.form .haut .cta button {
  padding: 0.5em 1em;
  background-color: var(--bleu);
  color: white;
  border: none;
  border-radius: var(--br);
  font-size: 16px;
}
.form .candidature {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 55vh;
  justify-content: space-between;
  align-items: flex-end;
}
.form .candidature form {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-between;
}
.form .candidature form div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.form .candidature form div label {
  font-size: 16px;
  font-weight: 300;
  width: 25vh;
}
.form .candidature form div input {
  border: #A4A4A4 1px solid;
  border-radius: var(--br);
  padding: 0.5em 1em;
  width: 25vh;
}
.form .candidature form div input:focus {
  outline: none;
}
.form .candidature button {
  background-color: var(--orange);
  width: 30%;
  padding: 0.5em 1em;
  border: none;
  border-radius: var(--br);
  color: white;
}
.form .candidature .active {
  background-color: white;
  border: 1px solid var(--bleu);
  color: white;
}
.form .candidature2 form {
  margin: 5vh 0 2em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form .candidature2 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
  margin-top: 2em;
}
.form .candidature2 form div label {
  font-size: 16px;
  font-weight: 300;
}
.form .candidature2 form div input {
  border: #A4A4A4 1px solid;
  border-radius: var(--br);
  padding: 0.5em 1em;
  width: 60%;
  height: 15vh;
}
.form .candidature2 form div input:focus {
  outline: none;
}
.form .candidature2 button {
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #FF8D45 0%, #FB6A35 100%);
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  margin-left: 6em;
}
.form .candidature3 form {
  margin: 5vh 0 2em 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form .candidature3 form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}
.form .candidature3 form div label {
  font-size: 16px;
  font-weight: 300;
}
.form .candidature3 form div input {
  border: #A4A4A4 1px solid;
  border-radius: var(--br);
  padding: 0.5em 1em;
  width: 60%;
  height: 15vh;
}
.form .candidature3 form div input:focus {
  outline: none;
}
.form .candidature3 form div p {
  font-size: 14px;
  font-weight: 400;
  width: 60%;
}
.form .candidature3 button {
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #FF8D45 0%, #FB6A35 100%);
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  margin-left: 46%;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .transition_ecole {
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
  }
  .transition_ecole .titre_transition {
    width: 85%;
  }
  .transition_ecole .t1 {
    width: 100%;
  }
  .transition_ecole .t1 h2:nth-child(2) {
    font-size: 28px;
  }
  .transition_ecole .t1 h2 {
    font-size: 38px;
    font-weight: lighter;
  }
  .transition_ecole .t2 h3 {
    font-size: 12px;
  }
  .transition_ecole .t3 .button_ecole1 {
    font-size: 14px;
  }
  .transition_ecole .t3 .button_ecole2 {
    font-size: 14px;
  }
  .transition_picture {
    margin-top: 5em;
    width: 70%;
  }
  .transition_picture button {
    font-size: 10px !important;
    left: -50px !important;
  }
  .transition_picture img {
    width: 100%;
  }
  .transition_picture .webinaire {
    top: -30px !important;
  }
  .transition_picture .webinaire h3 {
    font-size: 9px;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    height: 55vh;
    justify-content: space-between;
  }
  footer .reseaux {
    display: none;
  }
  footer .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }
  footer .content div:nth-child(2) {
    margin-top: 3vh;
  }
  footer .content section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    margin-bottom: 2vh;
  }
  footer .content section h4 {
    width: 100%;
  }
  footer .content section div {
    height: 100%;
  }
  footer .content section ul {
    display: none;
  }
  footer .content section:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  footer .content section:nth-child(2) ul {
    display: flex;
    flex-direction: row;
  }
  footer .content section:nth-child(2) ul li {
    display: flex;
  }
  footer .content section:nth-child(2) ul li a {
    display: flex;
  }
  footer .content section:nth-child(2) ul li a ion-icon {
    width: 50px;
    height: 50px;
    fill: white;
  }
  .card_ecologica {
    display: none;
  }
  .button_ecologica {
    display: flex;
    margin: 5em 0 5em 0;
    justify-content: center;
    gap: 0.5em;
  }
  .button_ecologica button[class^=button_infos] {
    border: #314C61 solid;
    border-radius: 10px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 16vh;
  }
  .button_ecologica button[class^=button_infos] .div_button .img_bachelor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
  }
  .button_ecologica button[class^=button_infos] .div_button .img_bachelor h2 {
    font-size: 11px;
  }
  .button_ecologica button[class^=button_infos] .div_button .img_bachelor img {
    width: 12px;
    height: 11px;
  }
  .button_ecologica button[class^=button_infos] .div_button h3 {
    font-size: 8px;
  }
  .button_ecologica .vector {
    width: 30px;
    height: 30px;
  }
  .button_ecologica .button_infos_blue {
    background-color: var(--bleu);
  }
  .button_ecologica .button_infos_yellow {
    background-color: var(--jaune);
  }
  .button_ecologica .button_infos_orange {
    background-color: var(--orange);
  }
  .formations {
    display: flex;
    flex-direction: column;
    height: 580vh;
  }
  .formations .fond {
    width: 200%;
    left: -10vh;
    height: 180vh;
    top: 10vh;
  }
  .formations .fond2 {
    width: 200%;
    left: -10vh;
    height: 180vh;
    bottom: 10vh;
  }
  .formations section {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }
  .formations section .left {
    width: 100%;
  }
  .formations section .left h2 {
    margin-bottom: 2vh;
  }
  .formations section .left a {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
  }
  .formations section .left a button {
    width: 50%;
  }
  .formations section .illus {
    width: 100%;
  }
  .formations section .illus img {
    width: 90%;
  }
  .formations section .illus .bg {
    bottom: -10vh;
    left: -1vh;
    width: 90%;
  }
  .formations section:nth-child(2) .illus {
    margin-bottom: 15vh;
  }
  .formations section:nth-child(2) img {
    width: 80%;
  }
  .formations section:nth-child(2) .bg {
    width: 80%;
  }
}
.background-pedagogie {
  margin-top: 6em;
  position: relative;
}
.background-pedagogie .pedagogie-ecologica {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 2em 6em;
}
.background-pedagogie .pedagogie-ecologica div img {
  width: 40%;
}
.background-pedagogie .pedagogie-ecologica div div {
  padding: 2em 8em;
}
.background-pedagogie .pedagogie-ecologica div div h3 {
  font-size: 20px;
  margin-bottom: 1em;
}
.background-pedagogie .pedagogie-ecologica div div p {
  font-size: 16px;
  line-height: 2em;
  text-align: justify;
}

.burger {
  display: none;
}

@media only screen and (max-width: 1010px) {
  .ecologica-menu .logo-menu .svgnavbar {
    width: 123.97px;
    height: 20px;
  }
  .ecologica-menu .logo-menu ul a {
    font-size: smaller;
  }
  .background-blue {
    background-color: #B0DFD9;
    opacity: 30%;
    width: 110%;
    height: 62vh;
    position: absolute;
    transform: rotate(-5deg);
    left: -5%;
    z-index: -2;
    top: -15%;
  }
}
.candidater a {
  border-radius: 4px;
  padding: 0.5em;
}

@media only screen and (max-width: 860px) {
  .ecologica-menu .logo-menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 40%;
  }
  .ecologica-menu .logo-menu ul a {
    color: #FB6A35;
  }
  .candidater {
    display: none;
  }
  .candidater a {
    position: absolute;
    top: 250px;
    left: 40%;
  }
  .burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: transparent;
  }
  .burger div {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
  }
  .burger .D1 {
    color: white;
  }
  .burger .D2 {
    position: relative;
  }
  .burger .D2CC {
    top: 10px;
  }
  .burger .D3 {
    color: white;
  }
  .burger:hover {
    cursor: pointer;
  }
}
@media only screen and (min-width: 860px) {
  .ulnav {
    display: flex !important;
  }
  .candidater {
    display: flex !important;
  }
  .ecologica-menu {
    height: 70px !important;
  }
}
@media only screen and (max-width: 450px) {
  .ecologica-menu .logo-menu .svgnavbar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
