@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Ubuntu:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: var(--font);
}

:root {
  --font: #314C61 ;
  --bleu: #B0DFD9 ;
  --orange: #FB6A35 ;
  --jaune: #FEDD67 ;
  --br: 4px;
}

.ecologica-menu {
  background-color: #293946;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  height: 70px;
}
.ecologica-menu img {
  height: 40px;
  width: auto;
}
.ecologica-menu ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2em;
}
.ecologica-menu ul a {
  color: white;
  text-decoration: none;
}
.ecologica-menu .logo-menu {
  display: flex;
  align-items: center;
  gap: 0 2em;
}

.candidater a {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border-radius: 4px;
  padding: 1em;
}

.transition_ecole {
  display: flex;
  justify-content: space-around;
  margin-top: 7em;
  align-items: center;
}
.transition_ecole .t1 h2 {
  font-size: 72px;
  font-weight: lighter;
}
.transition_ecole .t1 .orange {
  color: #FB6A35;
  font-weight: bolder;
}
.transition_ecole .t2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.transition_ecole .t2 h3 {
  font-size: 26px;
}
.transition_ecole .t2 div {
  background-color: #FB6A35;
  border: #FB6A35 solid;
  border-radius: 100%;
  height: 13px;
  width: 13px;
}
.transition_ecole .t3 {
  margin-top: 3em;
}
.transition_ecole .t3 .button_ecole1 {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 24px;
  margin-right: 1em;
}
.transition_ecole .t3 .button_ecole2 {
  text-decoration: none;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 15px;
  color: #FB6A35;
  background-color: white;
  font-size: 24px;
}
.transition_ecole .transition_picture {
  position: relative;
}
.transition_ecole .transition_picture button {
  color: white;
  text-decoration: none;
  background-color: #FB6A35;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  top: 90px;
  left: -80px;
}
.transition_ecole .transition_picture .img_background {
  background-color: white;
}
.transition_ecole .transition_picture .webinaire {
  border: #314C61 solid 1px;
  font-size: 20px;
  background-color: white;
  padding: 15px;
  position: absolute;
  top: -50px;
  left: -50px;
}
.transition_ecole .transition_picture .background_absolute {
  background-color: #D4EDEA;
  height: 309px;
  width: 280px;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: -1;
}

.formations {
  display: flex;
  flex-direction: column;
  height: 290vh;
  justify-content: space-between;
  position: relative;
  border: solid 1px rebeccapurple;
  padding-top: 15vh;
}
.formations .fond {
  background-color: #B0DFD9;
  opacity: 50%;
  width: 110%;
  height: 90vh;
  position: absolute;
  transform: rotate(-5deg);
  left: -5%;
  z-index: -2;
  top: 5%;
}
.formations .fond2 {
  background-color: #B0DFD9;
  opacity: 50%;
  width: 110%;
  height: 90vh;
  position: absolute;
  transform: rotate(-5deg);
  left: -5%;
  z-index: -2;
  bottom: 0;
}
.formations section {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  height: 60vh;
}
.formations section .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formations section .left h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--orange);
}
.formations section .left .txt {
  color: var(--font);
  font-size: 16px;
  width: 90%;
  line-height: 1.5;
}
.formations section .left button {
  width: 30%;
  color: var(--font);
  background-color: var(--bleu);
  border-radius: var(--br);
  border: none;
  padding: 0.5em 1em;
  font-size: 15px;
}
.formations section .illus {
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.formations section .illus img {
  width: 68%;
  height: auto;
  z-index: 1;
  bottom: 0;
  background-color: white;
  border-radius: var(--br);
  border: 2px solid var(--font);
  margin: auto;
  position: relative;
  transform: scaleX(1);
}
.formations section .illus .bg {
  position: absolute;
  width: 50vh;
  height: 20vh;
  background-color: var(--bleu);
  border-radius: var(--br);
  opacity: 55%;
  z-index: -1;
  bottom: 0;
}
.formations section:nth-child(3) button {
  background-color: var(--jaune);
}
.formations section:nth-child(3) .illus .bg {
  background-color: var(--jaune);
  right: 0;
}
.formations section:nth-child(3) .illus img {
  left: 0;
  width: 60%;
}
.formations section:nth-child(4) button {
  background-color: var(--orange);
}
.formations section:nth-child(4) .illus .bg {
  background-color: var(--orange);
}

footer {
  background-color: #293946;
  color: #f1f1f1;
}
footer .FS {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3em;
}
footer .FS1 .FDP {
  max-width: 15em;
  color: rgba(241, 241, 241, 0.7137254902);
}
footer .FS1 .CF h3 {
  color: rgba(241, 241, 241, 0.7137254902);
  padding-bottom: 0.5em;
}
footer .FS1 .CF ul li {
  list-style: none;
  padding-bottom: 0.5em;
}
footer .FS1 .CF ul li a {
  text-decoration: none;
  color: #f1f1f1;
}
footer .FS1 .CF3 h3 {
  padding-bottom: 0.5em;
  color: #f1f1f1;
}
footer .FS1 .CF3 p {
  color: #f1f1f1;
}
footer .FS2 {
  list-style: none;
  padding-bottom: 10px;
}
footer .FS2 p {
  color: #f1f1f1;
}
footer .FS2 ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3em;
}
footer .FS2 ul li a ion-icon {
  fill: #f1f1f1;
  width: 30px;
  height: 30px;
}
footer main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
footer main img {
  position: absolute;
  z-index: -1;
}
footer main img:nth-child(1) {
  bottom: 35vh;
  right: -7vh;
  width: 40vh;
  transform: scaleX(-1);
}
footer main img:nth-child(2) {
  bottom: 20vh;
  left: -7vh;
  width: 35vh;
}
footer main img:nth-child(3) {
  bottom: -2vh;
  left: 3vh;
  width: 30vh;
}
footer main img:nth-child(4) {
  bottom: -2vh;
  right: 0vh;
  width: 20vh;
}
footer main img:nth-child(5) {
  bottom: -9vh;
  left: 20vh;
  width: 20vh;
}
footer .bottom {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
footer .bottom .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 22%;
}
footer .bottom .titre button {
  background-color: #D4EDEA;
  border: none;
  padding: 1em 1.5em;
  border-radius: var(--br);
}
footer .bottom .titre h2 {
  font-size: 30px;
  width: 70%;
}
footer .bottom .cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
footer .bottom .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px var(--font);
  width: 30%;
  height: 25vh;
  border-radius: var(--br);
  padding: 20px 0;
  background-color: white;
}
footer .bottom .cards .card .titre {
  position: relative;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
footer .bottom .cards .card .titre h3 {
  font-size: 32px;
  font-weight: 300;
}
footer .bottom .cards .card .titre svg {
  position: absolute;
  right: 25px;
  top: 15px;
}
footer .bottom .cards .card button {
  border-radius: var(--br);
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  border: none;
  background-color: var(--bleu);
}
footer .bottom .cards .card:nth-child(2) button {
  background-color: var(--jaune);
}
footer .bottom .cards .card:nth-child(3) button {
  background-color: var(--orange);
}

.card_ecologica {
  margin-top: 8em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  gap: 3em;
  padding: 0 24em;
  margin-bottom: 6em;
}
.card_ecologica .card_formations {
  border: #314C61 solid;
  border-radius: 10px;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
}
.card_ecologica .card_formations .div_card .img_bachelor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card_ecologica .vector {
  width: 80px;
  height: 80px;
}
.card_ecologica img {
  width: 24px;
  height: 22px;
}
.card_ecologica h2 {
  font-size: 36px;
}
.card_ecologica h3 {
  font-size: 20px;
}
.card_ecologica .button_orange {
  color: #314C61;
  text-decoration: none;
  background-color: #FB6A35;
  border: #314C61 solid 2px;
  border-radius: 6px;
  padding: 14px 34px;
  font-size: 20px;
}
.card_ecologica .button_green {
  color: #314C61;
  text-decoration: none;
  background-color: #B0DFD9;
  border: #314C61 solid 2px;
  border-radius: 6px;
  padding: 14px 34px;
  font-size: 20px;
}
.card_ecologica .button_yellow {
  color: #314C61;
  text-decoration: none;
  background-color: #FEDD67;
  border: #314C61 solid 2px;
  border-radius: 6px;
  padding: 14px 34px;
  font-size: 20px;
}

.partenaire {
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
main img {
  position: absolute;
  z-index: -1;
}
main img:nth-child(1) {
  bottom: 35vh;
  right: -7vh;
  width: 40vh;
  transform: scaleX(-1);
}
main img:nth-child(2) {
  bottom: 20vh;
  left: -7vh;
  width: 35vh;
}
main img:nth-child(3) {
  bottom: -2vh;
  left: 3vh;
  width: 30vh;
}
main img:nth-child(4) {
  bottom: -2vh;
  right: 0vh;
  width: 20vh;
}
main img:nth-child(5) {
  bottom: -9vh;
  left: 20vh;
  width: 20vh;
}

.bottom {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
.bottom .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 22%;
}
.bottom .titre button {
  background-color: #D4EDEA;
  border: none;
  padding: 1em 1.5em;
  border-radius: var(--br);
}
.bottom .titre h2 {
  margin-top: 1.5em;
  font-size: 40px;
  width: 70%;
}
.bottom .cards {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding: 0 2em;
}
.bottom .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 2px var(--font);
  width: 30%;
  height: 25vh;
  border-radius: var(--br);
  padding: 20px 0;
  background-color: white;
}
.bottom .cards .card .titre {
  position: relative;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.bottom .cards .card .titre h3 {
  font-size: 32px;
  font-weight: 300;
}
.bottom .cards .card .titre svg {
  position: absolute;
  right: 25px;
  top: 15px;
}
.bottom .cards .card button {
  border-radius: var(--br);
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;
  border: none;
  background-color: var(--bleu);
}
.bottom .cards .card:nth-child(2) button {
  background-color: var(--jaune);
}
.bottom .cards .card:nth-child(3) button {
  background-color: var(--orange);
}

.centipede {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 6em;
  margin-bottom: 8em;
}
.centipede .chat {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 600px;
  justify-content: space-between;
  gap: 3em;
}
.centipede .chat h1 {
  font-size: 50px;
}
.centipede .chat .button {
  align-self: left;
  display: flex;
  gap: 1em;
}
.centipede .chat .button div[class^=input] {
  border: 2px solid #293946;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  width: 180px;
  text-align: center;
  font-size: 20px;
}
.centipede .chat .button .input-1 {
  background: #B0DFD9;
}
.centipede .chien {
  position: relative;
}
.centipede .chien img {
  display: flex;
  position: absolute;
  z-index: -1;
  width: 110%;
}
.centipede .chien .miroir {
  display: flex;
  width: 400px;
}
.centipede .chien .miroir .blanc {
  display: flex;
  flex-direction: column;
  border: 2px solid #293946;
  border-radius: 4px;
  background: white;
  width: 310px;
  margin: auto;
  height: 323px;
  position: absolute;
  top: 225px;
  left: -150px;
}
.centipede .chien .miroir .blanc h3 {
  border-bottom: 2px solid #293946;
  font-size: 20px;
}
.centipede .chien .miroir .blanc h3, .centipede .chien .miroir .blanc li {
  padding: 15px 20px 15px 20px;
}
.centipede .chien .miroir .blanc ul {
  list-style-position: inside;
}
.centipede .chien .miroir .blanc li {
  font-size: 14px;
}
.centipede .chien .miroir .p_miroir {
  text-decoration: none;
  background-color: #FB6A35;
  border: #FB6A35 solid 1px;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 20px;
  position: absolute;
  top: 475px;
  left: -250px;
}
.centipede .chien .miroir .p_miroir p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
